<div class="page-header">
  <h1>{{__ 'cases.requestNewCase'}}</h1>
  <p class="lead">{{__ 'cases.requestHelpDesc'}}</p>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="modern-form">
        <form action="/helpcases" method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group">
            <label for="title">{{__ 'cases.title'}}</label>
            <input type="text" name="title" class="form-control" />
          </div><br>
          <div class="form-group">
            <label for="details">{{__ 'cases.details'}}</label>
            <textarea name="details" class="form-control" rows="5"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="version-info">
  <p>{{__ 'app.name'}} - {{__ 'about.version'}} 3.2</p>
</div>