<div class="page-header">
  <h1>{{__ 'cases.offerHelp'}}</h1>
  <p class="lead">{{__ 'cases.offerHelpDesc'}}</p>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="modern-form">

    <div class="form-group">
      <label for="title">{{__ 'cases.title'}}</label>
      <textarea name="title" class="form-control" readonly>{{helpcase.title}}</textarea>
    </div>
    <div class="form-group">
      <label for="details">{{__ 'cases.details'}}</label>
      <textarea name="details" class="form-control" readonly>{{helpcase.details}}</textarea>
    </div>
    <hr>
    {{!-- <h5>Add new offerer message</h5> --}}
    <form action="/helpcases/addoffer/{{helpcase._id}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT" required />
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div class="form-group">
        <label for="offermsg">{{__ 'messages.addNewOffererMessage'}}</label>
        <textarea name="offermsg" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
    </form><br>
    <div class="form-group">
      <label for="offermsg">{{__ 'messages.previousOffererMessages'}}</label>
      <textarea name="offermsg" class="form-control" readonly>{{helpcase.offermsg}}</textarea>
    </div>
    </div>
  </div>
</div>

{{> _version}}