<style>
  .card {
    background-color: rgb(248, 237, 227, 0.7) !important;
    font-size: 20px !important;
    font: #7D6E83 !important;
    border-radius: 50px 50px 50px 50px !important;
  }

  /* Body background is now handled by global.css */

  .table {
    background-color: #F8EDE3;
    background-color: rgb(248, 237, 227, 0.9);
    font-style: times;
    font-size: 16px;
    position: fixed sticky;
    font: #7D6E83 !important;
  }

  .nav-link {
    color: rgb(125, 110, 131) !important;
  }

    {
      {
      !-- .link {
        color: #7D6E83 !important;
      }

      .item>a:hover {
        color: #D0B8A8 !important;
      }

      --
    }
  }

  /*code to change background color*/
  .nav>.active>a {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #D0B8A8 !important;
  }

  .btn {
    background-color: #7D6E83 !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px !important;
  }

  .carousel-caption {
    text-shadow: 0 0 5px rgb(33, 30, 30), 0 0 10px rgb(88, 37, 74), 0 0 15px rgb(153, 167, 70), 0 0 40px #46453e, 0 0 70px #2b0e3f
  }
</style>
<div style="margin-top:100px"><br><br>
  {{#each errors}}
  <div class="alert alert-danger">{{test}}</div>
  {{else}}
  {{/each}}

  <!-- _method with "put" -->
  <h4 class="text-center">{{__ 'cases.caseInformation'}}</h4><br>
  <div class="card card-body"><br>

    <div class="form-group">
      <label for="title">{{__ 'cases.title'}}</label>
      <textarea name="title" class="form-control" readonly>{{helpcase.title}}</textarea>
    </div>
    <div class="form-group">
      <label for="details">{{__ 'cases.details'}}</label>
      <textarea name="details" class="form-control" readonly>{{helpcase.details}}</textarea>
    </div>
    <hr>
    {{!-- <h5>Add new offerer message</h5> --}}
    <form action="/helpcases/addoffer/{{helpcase._id}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT" required />
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div class="form-group">
        <label for="offermsg">{{__ 'messages.addNewOffererMessage'}}</label>
        <textarea name="offermsg" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
    </form><br>
    <div class="form-group">
      <label for="offermsg">{{__ 'messages.previousOffererMessages'}}</label>
      <textarea name="offermsg" class="form-control" readonly>{{helpcase.offermsg}}</textarea>
    </div><br>
  </div>
</div>