<style>
  .card {
    background-color: rgb(248, 237, 227, 0.7) !important;
    font-size: 20px !important;
    font: #7D6E83 !important;
    border-radius: 50px 50px 50px 50px !important;
  }

  /* Body background is now handled by global.css */

  .table {
    background-color: #F8EDE3;
    background-color: rgb(248, 237, 227, 0.9);
    font-style: times;
    font-size: 16px;
    position: fixed sticky;
    font: #7D6E83 !important;
  }

  .nav-link {
    color: rgb(125, 110, 131) !important;
  }

    {
      {
      !-- .link {
        color: #7D6E83 !important;
      }

      .item>a:hover {
        color: #D0B8A8 !important;
      }

      --
    }
  }

  /*code to change background color*/
  .nav>.active>a {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #D0B8A8 !important;
  }

  .btn {
    background-color: #7D6E83 !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px !important;
  }

  .carousel-caption {
    text-shadow: 0 0 5px rgb(33, 30, 30), 0 0 10px rgb(88, 37, 74), 0 0 15px rgb(153, 167, 70), 0 0 40px #46453e, 0 0 70px #2b0e3f
  }
</style>
<div style="margin-top:100px"><br><br>
  <div class="row">
    <div class="col-md-6 mx-auto">
      {{#each errors}}
      <div class="alert alert-danger">{{test}}</div>
      {{else}}
      {{/each}}
      <h4 class="text-center">{{__ 'cases.editCase'}}</h4><br>
      <!-- _method with "put" -->
      <div class="card card-body">
        <form action="/helpcases/edit/{{helpcase._id}}?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT" />
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group"><br>
            <label for="title">{{__ 'cases.title'}}</label>
            <input type="text" class="form-control" name="title" value="{{helpcase.title}}" required />
          </div><br>
          <div class="form-group">
            <label for="details">{{__ 'cases.details'}}</label>
            <textarea name="details" class="form-control" rows="5" required>{{helpcase.details}}</textarea>
          </div><br>
          <div class="form-group">
            <label for="offer">Remove current Offerer? [Enter "REMOVE" to confirm]</label>
            <input type=text class="form-control" mb-1 name="offer" value="{{helpcase.offer}}" />
          </div><br>
          <div class="form-group">
            <label for="solved">Solved? [Enter "SOLVED" to confirm solved or "REOPEN" to reopen this case.]</label>
            <input type=text class="form-control" name="solved" value="{{solved}}" />
          </div><br>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
          </div>
        </form>
        <hr>
        <h5 class="text-center">{{__ 'messages.addNewMessage'}}</h5>
        <form action="/helpcases/update/{{helpcase._id}}?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT" required />
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group">
            <label for="offermsg">{{__ 'messages.yourNewMessage'}}</label>
            <textarea name="offermsg" class="form-control" rows="3"></textarea>
          </div><br>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">{{__ 'messages.sendMessage'}}</button>
          </div>
        </form><br>
        <form action="/helpcases/givebadge/{{helpcase.offer}}?_method=PUT" method="POST" class="text-center">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <input type="submit" class="btn text-white text-center" value="{{__ 'profile.giveBadge'}}">
        </form><br>
        <div class="form-group">
          <label for="offermsg">{{__ 'messages.previousMessages'}}</label>
          <textarea name="offermsg" class="form-control" rows="4" readonly>{{helpcase.offermsg}}</textarea>
        </div>
      </div><br>
    </div>
  </div>
</div>