<!-- Include the responsive table CSS -->
<link rel="stylesheet" href="/css/table-responsive.css">

<div class="page-header">
  <h1>{{__ 'cases.myRequestedCases'}}</h1>
  <p class="lead">{{__ 'cases.myRequestedCasesDesc'}}</p>
</div>

<div class="content-section">
        <div class="tab-content text-center">
          <div class="tab-pane fade show active" id="mycases">
            <div class="card-text" style="width: 100%;">
              <div class="table-responsive-wide">
                <table class="table table-hover table-borderless table-XL table-striped">
              <thead>
                <tr class="text-center">
                  <th class="align-middle">{{__ 'cases.createdAt'}}</th>
                  <th class="align-middle">{{__ 'cases.title'}}</th>
                  <th class="align-middle">{{__ 'cases.details'}}</th>
                  <th class="align-middle">{{__ 'cases.status'}}</th>
                  <th class="align-middle">{{__ 'cases.helpedBy'}}</th>
                  <th class="align-middle">{{__ 'cases.actions'}}</th>
                </tr>
              </thead>
              <tbody>{{#if helpcases}}
                {{#each helpcases}}
                <tr class="text-left">
                  <td class="align-middle">{{StringDate}}</td>
                  <td class="text-center align-middle">{{title}}</td>
                  <td class="align-middle">{{details}}</td>
                  <td class="text-center align-middle">
                    {{#if solved}}
                      <span class="badge bg-success text-white">{{__ 'cases.solved'}}</span>
                    {{else}}
                      {{#if offer}}
                        <span class="badge bg-warning text-dark">{{__ 'cases.attending'}}</span>
                      {{else}}
                        <span class="badge bg-secondary text-white">{{__ 'cases.unattended'}}</span>
                      {{/if}}
                    {{/if}}
                  </td>
                  <td class="text-center align-middle">{{offer}}</td>
                <td class="text-right align-middle">
                  <div class="btn-group btn-sm">
                    <a href="/helpcases/edit/{{_id}}" class="btn1 btn-outline-info btn-sm" role="button" title="{{__ 'cases.editCase'}}">
                      <i class="fas fa-edit"></i>
                    </a>
                    <form action="/helpcases/{{_id}}?_method=Delete" method="POST" onsubmit="return confirm('{{__ 'cases.deleteConfirm'}}');">
                      <input type="hidden" name="_method" value="Delete">
                      <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                      <button type="submit" class="btn1 btn-outline-danger btn-sm ml-1" title="{{__ 'cases.deleteCase'}}">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </form>
                  </div>
                </td>
                </tr>
                {{else}}
                <h5>{{__ 'cases.noRecord'}}</h5>
                {{/each}}{{/if}}
              </tbody>
                </table>
              </div>
            </div>
            <br>
            <a href="#" class="btn text-white text-center">{{__ 'cases.backToTop'}}</a><br>
          </div>
          <br>
        </div>
    </div>
</div>

<div class="version-info">
  <p>{{__ 'app.name'}} - {{__ 'about.version'}} 3.2</p>
</div>