<!-- Include the responsive table CSS -->
<link rel="stylesheet" href="/css/table-responsive.css">

<div class="page-header">
  <h1>{{__ 'cases.myOfferedCases'}}</h1>
  <p class="lead">{{__ 'cases.myOfferedCasesDesc'}}</p>
</div>

<div class="content-section">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="myofferedcases">
            <div class="card-text" style="width: 100%;">
              <div class="table-responsive-wide">
                <table class="modern-table">
              <thead>
                <tr class="text-center">
                  <th class="align-middle">{{__ 'cases.createdAt'}}</th>
                  <th class="align-middle">{{__ 'cases.title'}}</th>
                  <th class="align-middle">{{__ 'cases.details'}}</th>
                  <th class="align-middle">{{__ 'cases.status'}}</th>
                  <th class="align-middle">{{__ 'cases.actions'}}</th>
                </tr>
              </thead>
              <tbody>{{#if offercases}}
                {{#each offercases}}
                <tr class="text-left">
                  <td class="align-middle">{{StringDate}}</td>
                  <td class="text-center align-middle">{{title}}</td>
                  <td class="align-middle">{{details}}</td>
                  <td class="text-center align-middle">
                    {{#if solved}}
                      <span class="modern-badge badge-solved">{{__ 'cases.solved'}}</span>
                    {{else}}
                      {{#if offer}}
                        <span class="modern-badge badge-attending">{{__ 'cases.attending'}}</span>
                      {{else}}
                        <span class="modern-badge badge-unattended">{{__ 'cases.unattended'}}</span>
                      {{/if}}
                    {{/if}}
                  </td>
                  <td class="text-center align-middle">
                    <div class="btn-group">
                      {{#unless solved}}
                        {{#unless offer}}
                          <a href="/helpcases/addoffer/{{_id}}" class="btn1 btn-outline-success btn-sm" role="button" title="{{__ 'cases.offerHelp'}}">
                            <i class="fas fa-hands-helping"></i>
                          </a>
                        {{/unless}}
                      {{/unless}}
                      <a href="/helpcases/update/{{_id}}" class="btn1 btn-outline-info btn-sm" role="button" title="{{__ 'cases.update'}}">
                        <i class="fas fa-sync-alt"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{else}}
                <h5>{{__ 'cases.noRecord'}}</h5>
                {{/each}}{{/if}}

              </tbody>
                </table>
              </div>
            </div><br>
            <a href="#" class="btn btn-primary">{{__ 'cases.backToTop'}}</a>
          </div>
        </div>
    </div>
</div>

{{> _version}}