<style>
    .row {
        margin-top: 20px;
        margin-bottom: 20px;
        text-indent: 2em;
    }
    /* Body background is now handled by global.css */
    .btn {
        background-color: #7D6E83 !important;
        border:0 !important;
        border-radius: 10px 10px 10px 10px;
    }
    .btn1 {
        background-color: rgb(248, 237, 227, 0.6) !important;
        border:0 !important;
        border-radius: 10px 10px 10px 10px;
    }
</style>
<!-- Include the responsive table CSS -->
<link rel="stylesheet" href="/css/table-responsive.css">

<div class="container-fluid" style="margin-top: 100px; padding: 0;"></div><br><br>
<h4 class="card-title text-center">All Cases</h4><br>
<div class="wide-container-admin">
    <div class="all-cases-card card card-body border-0"><br>
      <div class="tab-content text-center">
        <div class="tab-pane fade show active" id="allcases">
          <div class="card-text" style="width: 100%;">
            <div class="table-responsive-wide">
              <table class="table table-hover table-borderless table-XL table-striped">
              <thead>
                <tr class="text-center">
                  <th class="align-middle">Created At</th>
                  <th class="align-middle">Title</th>
                  <th class="align-middle">Details</th>
                  <th class="align-middle">Requestor</th>
                  <th class="align-middle">Status</th>
                  <th class="align-middle">Actions</th>
                </tr>
              </thead>
              <tbody>{{#if records}}
                {{#each records}}
                <tr class="text-left">
                  <td class="align-middle">{{StringDate}}</td>
                  <td class="text-center align-middle">{{title}}</td>
                  <td class="align-middle">{{details}}</td>
                  <td class="text-center align-middle">{{userInfo.name}}</td>
                  <td class="text-center align-middle">
                    {{#if solved}}
                      <span class="badge bg-success text-white">Solved</span>
                    {{else}}
                      {{#if offer}}
                        <span class="badge bg-warning text-dark">Attending</span>
                      {{else}}
                        <span class="badge bg-secondary text-white">Unattended</span>
                      {{/if}}
                    {{/if}}
                  </td>
                  <td class="text-center align-middle actions-column">
                    <div class="btn-group btn-sm admin-buttons">
                      <a href="/helpcases/addoffer/{{_id}}" class="btn1 btn-outline-success btn-sm" role="button" title="Help">
                        <i class="fas fa-hands-helping"></i>
                      </a>
                      <a href="/helpcases/edit/{{_id}}" class="btn1 btn-outline-info btn-sm" role="button" title="Edit">
                        <i class="fas fa-edit"></i>
                      </a>
                      <form action="/helpcases/{{_id}}?_method=Delete" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this case?');">
                        <input type="hidden" name="_method" value="Delete">
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                        <button type="submit" class="btn1 btn-outline-danger btn-sm" title="Delete">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                {{else}}
                <h5>No record found.</h5>
                {{/each}}{{/if}}
              </tbody>
              </table>
            </div>
          </div><br>
          <a href="#" class="btn btn-primary">Back to Top</a>
        </div><br>
      </div>
    </div>
</div>