<div class="page-header">
  <h1>{{__ 'cases.updateOfferedCase'}}</h1>
  <p class="lead">{{__ 'cases.updateOfferedCaseDesc'}}</p>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="modern-form">
        <div class="form-group"><br>
          <label for="title">{{__ 'cases.title'}}</label>
          <input type=text name="title" class="form-control" value="{{helpcase.title}}" readonly />
        </div><br>
        <div class="form-group">
          <label for="details">{{__ 'cases.details'}}</label>
          <textarea name="details" class="form-control" rows="5" readonly>{{helpcase.details}}</textarea>
        </div>
        <hr>
        <h5 class="text-center">{{__ 'messages.sendMessageToAuthor'}}</h5>
        <form action="/helpcases/update/{{helpcase._id}}?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT" required />
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group">
            <label for="offermsg">{{__ 'messages.yourMessage'}}</label>
            <textarea name="offermsg" class="form-control" rows="3"></textarea>
          </div><br>
          <div class="form-group">
            <label for="offer">{{__ 'cases.removeOffererRole'}}</label>
            <input type=text name="offer" class="form-control" value="{{helpcase.offer}}" />
          </div><br>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
          </div>
        </form><br>
        <div class="form-group">
          <label for="offermsg">{{__ 'messages.previousMessages'}}</label>
          <textarea name="offermsg" class="form-control" rows="4" readonly>{{helpcase.offermsg}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>

{{> _version}}