<style>
    .row {
            margin-top: 20px;
            margin-bottom: 20px;
            text-indent: 2em;
        }
    .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            background-color: rgb(223, 211, 195, 0.5) !important;
            font-size: 20px !important;
            border-radius: 50px 50px 50px 50px;

        }
    body {
            background-image: linear-gradient(to bottom,rgba(223,211,195,0.6),
rgb(223,211,195,0.6)),url("https://static.vecteezy.com/system/resources/previews/010/264/847/large_2x/an-image-of-plam-leave-shadow-on-the-wall-free-png.png");

        }
    .btn {
            background-color: #7D6E83 !important;
            border:0 !important;
            border-radius: 10px 10px 10px 10px;
        }
    .btn1 {
            background-color: rgb(248, 237, 227, 0.6)  !important;
            border:0 !important;
             border-radius: 10px 10px 10px 10px;
        }


</style>
<!-- Include the responsive table CSS -->
<link rel="stylesheet" href="/css/table-responsive.css">
<div><br><br>
  <h4 class="text-center">Edit User Profile</h4><br>

<!-- _method with "put" -->
<div class="card card-body ">
<br>
<h6>
  <form action="/users/edit/{{user._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
     <div class="form-group">
       <label for="name">Name</label>
         <input type="text" class="form-control" name="name" value="{{user.name}}" readonly />
         <br>
         <label for="email">Email</label>
          <input type="text" class="form-control" name="email" value="{{user.email}}"/>
         <br>
         <label for="phone">Phone</label>
          <input type="tel" class="form-control" name="phone" value="{{user.phone}}" placeholder="+852 9876-4321"/>
          <small class="form-text text-muted">Hong Kong format: +852 9876-4321 or 98764321</small>
         <hr>
         <label for="password">Change Password</label>
          <input type="password" class="form-control" name="password" autocomplete="new-password" />
          <small class="form-text text-muted">Leave blank to keep current password</small>
         <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" name="password2" autocomplete="new-password" />
      </div><br>
      <div class="text-center">
        <button type="submit" class="btn text-white text-center">Submit</button>
      </div><br>
  </form>
</h6>
</div>