<!-- Include the responsive table CSS -->
<link rel="stylesheet" href="/css/table-responsive.css">

<div class="page-header">
  <h1>{{__ 'profile.editProfile'}}</h1>
  <p class="lead">{{__ 'profile.editProfileDesc'}}</p>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="modern-form">
  <form action="/users/edit/{{user._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
     <div class="form-group">
       <label for="name">{{__ 'profile.name'}}</label>
         <input type="text" class="form-control" name="name" value="{{user.name}}" readonly />
         <br>
         <label for="email">{{__ 'profile.email'}}</label>
          <input type="text" class="form-control" name="email" value="{{user.email}}"/>
         <br>
         <label for="phone">{{__ 'profile.phone'}}</label>
          <input type="tel" class="form-control" name="phone" value="{{user.phone}}" placeholder="+123 456-7890"/>
          <small class="form-text text-muted">{{__ 'auth.phoneFormat'}}</small>
         <hr>
         <label for="password">{{__ 'profile.changePassword'}}</label>
          <input type="password" class="form-control" name="password" autocomplete="new-password" />
          <small class="form-text text-muted">{{__ 'profile.leaveBlank'}}</small>
         <label for="password2">{{__ 'profile.confirmPassword'}}</label>
          <input type="password" class="form-control" name="password2" autocomplete="new-password" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn text-white text-center">{{__ 'profile.submit'}}</button>
      </div>
  </form>
    </div>
  </div>
</div>

{{> _version}}