<div class="page-header">
  <h1>{{__ 'auth.login'}}</h1>
  <p class="lead">{{__ 'messages.welcome'}}</p>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="modern-form">
      <form action="/users/login" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />

        <div class="form-group">
          <label for="usernameInput">{{__ 'auth.name'}}</label>
          <input type="username" name="usernameInput" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="password">{{__ 'auth.password'}}</label>
          <input type="password" name="passwordInput" class="form-control" required autocomplete="current-password" />
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn">{{__ 'auth.loginButton'}}</button>
        </div>

        <div class="text-center mt-4">
          <a href="/users/register" class="text-decoration-none">
            <i class="fas fa-user-plus mr-1"></i> {{__ 'auth.noAccount'}}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{{> _version}}