<style>
    .row {
            margin-top: 20px;
            margin-bottom: 20px;
            text-indent: 2em;
        }
    .card {
            margin: 0 auto; 
            float: none; 
            margin-bottom: 10px; 
            background-color: rgb(223, 211, 195, 0.5) !important; 
            font-size: 20px !important; 
            border-radius: 50px 50px 50px 50px;
        }
    body {
            background-image: linear-gradient(to bottom,rgba(223,211,195,0.5), 
rgb(223,211,195,0.5)),url("https://static.vecteezy.com/system/resources/previews/010/264/847/large_2x/an-image-of-plam-leave-shadow-on-the-wall-free-png.png");

        }
    .btn {
            background-color: #7D6E83 !important;
            border:0 !important;
            border-radius: 10px 10px 10px 10px
        }
    .btn1 {
            background-color: rgb(248, 237, 227, 0.6)  !important;
            border:0 !important;
            border-radius: 10px 10px 10px 10px
        }

</style>
<div style="margin-top:100px"></div><br><br>
<h4 class="text-center">All member profiles {{res.locals.user.name}}</h4><br>
{{#if profiles}}
<div class="card card-body border-0">
    <table class="table table-stripted table-hover table-xl table-striped table-borderless ">
        <thead>
            <tr class="text-left">
                <th>Created At</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Badge</th>
            </tr>
        </thead>
        <tbody>
            {{#each profiles}} 
            <tr>
                <td class="align-middle">{{StringDate}}</td>
                <td class="text-center align-middle">{{#if avatar.data}}<img src="data:image/{{avatar.contentType}}; base64, {{avatar.data}}" width="50"
                        height="50" /> {{else}} - {{/if}}</td>
                <td class="text-center align-middle">{{name}}</td>
                <td class="align-middle">{{email}}</td>
                <td class="align-middle">{{phone}}</td>
                <td class="text-center align-middle">{{#if isAdmin}} admin {{else}} user {{/if}}</td>
                <td class="text-center align-middle"><span class="badge badge-warning">{{badge}}</span></td>
                <td class="text-center align-middle">
                  <div class="btn-group btn-sm">
                    {{!-- <form action="/users/addbadge/{{_id}}?_method=Addbadge" method="POST">
                      <input type="hidden" name="_method" value="Addbadge">
                      <input type="submit" class="btn1 btn-outline-info btn-sm" value="Give badge">
                    </form> --}}
                    <a href="/users/edit/{{_id}}" class="btn1 btn-outline-primary btn-sm" role="button"> Edit</a> 
                    <form action="/users/{{_id}}?_method=Delete" method="POST">
                      <input type="hidden" name="_method" value="Delete">
                      <input type="submit" class="btn1 btn-outline-danger btn-sm ml-1" value="Delete">
                    </form>
                  </div>
                </td>
            </tr>
{{/each}}
        </tbody>
    </table>
</div><br>
{{else}}
<h2>No record found.</h2>
{{/if}}
</div>
</div>
